{% extends 'index.html' %}

{% block content %}
<section>
	<header class="major">
		<h2>Männer Turnschuhe</h2>
	</header>
	<div class="posts">
		{% for post in posts %}
			<article class="style{{posts.id}}">
				<a href="{% url 'post_detail' pk=post.pk %}" class="image"><img src="{{post.image.url}}"
																				alt="" width="444" height="444"></a>
				<h3>{{post.name}}</h3>
				<h3>{{post.price}} Euro</h3>
				<p>{{post.description}}</p>
				<p>der Vorrätigkeit: {{post.availability}}</p>
				<ul class="actions">
					<li><a href="{% url 'post_detail' pk=post.pk %}" class="button">Sehen</a></li>
				</ul>
			</article>
		{% endfor %}
	</div>
</section>
{% endblock %}