{% extends 'index.html' %}

{% block content %}
	<section>
		<h1>Über Li-Ning</h1>
		<p>Li-Ning is the Chinese leader in athletic apparel and footwear, rooted in the vision of its founder
			and namesake, the champion gymnast Mr. Li Ning.</p>
		<p>He founded the company in 1990 with the simple goal of providing Chinese athletes a national brand
			to wear on the world stage of the Olympics – historically one of the West’s rare portals
			into authentic Chinese culture.</p>
		<p>This modest intention has, almost 30 years later, led to the rise of a global sport pioneer that resides
			at the forefront of 21st-century design and technology while celebrating its own, storied past.</p>
		<p>Consequently, Li-Ning explores the tensions between past and future, man and nature,
			flexibility and strength. Yet it is ultimately driven by the boundless potential of the human body.</p>
		<hr class="major" />
			<h2>Mr. Li Ning — Founder</h2>
			<p>As a world-class gymnast with 106 gold medals, Mr. Li, himself, is testament to this. His most singular
				achievements include winning six out of seven gold medals at the Sixth World Cup Gymnastic Competition
				in 1982, earning him the nickname “The Prince of Gymnastics.” In 1984, Mr. Li won three gold medals,
				two silver, and one bronze to become the most honored athlete at the 1984 Summer Olympic Games,
				held in Los Angeles. In 1999, the World Sports Correspondent Association named him among
				the “World’s Most Excellent Athletes” of the 20th century. More recently, Mr. Li lit the torch
				at the 2008 Summer Olympic Games, held in Beijing.</p>
		<hr class="major" />
	</section>
{% endblock %}