{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>LINING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<h2><a href="{% url 'index' %}" class="logo"><strong>LINING</strong></a></h2>
									<ul class="actions">
										{% if user.is_authenticated %}
											<li><a href="{% url 'stock_create' %}"
												   class="button big">eine Freigabe erstellen</a></li>
											<li><a href="{% url 'post_create' %}"
												   class="button big">eine Produkt hinzufügen</a></li>
										{% endif %}
									</ul>
									<ul class="icons">
										<li><h2><a href="https://www.instagram.com/lining.admix.kg/"
												   class="icon brands fa-instagram">
													<span class="label">Instagram</span></a></h2></li>
									</ul>
								</header>
							<!-- Banner -->
								{% block content %}
								<section id="banner">
									{%if stock != None%}
										<div class="content">
											<header>
												<h1>{{stock.title}}</h1>
												<p>{{stock.sub_title}}</p>
												<p>{{stock.created_date}}</p>
											</header>
											<ul class="actions">
												<li><a href="{% url 'stock_detail' pk=stock.pk %}"
													   class="button big">weiter lesen</a></li>
											</ul>
										</div>
										<span class="image object">
											<a href="{% url 'stock_detail' pk=stock.pk %}">
												<img src="{{stock.image.url}}" alt="" ></a>
										</span>
									{%else%}
										<div class="content">
											<header>
												<h1>keine zukünftige Freigaben</h1>
												<p>Förderungen werden bald, warten Sie mal </p>
											</header>
											<p>Li-Ning is the Chinese leader in athletic apparel and footwear,
												rooted in the vision of its founder and namesake,
												the champion gymnast Mr. Li Ning.</p>
										</div>
										<span class="image">
											<img src="{% static 'images/pic12.jpg' %}" alt="" width="488" height="412">
										</span>
									{% endif %}
								</section>
							<!-- Section -->
								<section>
									<header class="major">
										<h2>Produkte</h2>
									</header>
									<div class="posts">
										{% for post in posts %}
											<article class="style{{posts.id}}">
												<a href="{% url 'post_detail' pk=post.pk %}"
												   class="image"><img src="{{post.image.url}}"
																	  alt="" width="444" height="444"></a>
												<h3>{{post.name}}</h3>
												{%for cate in post.categories.all%}
													<p>{{cate}}</p>
												{%endfor%}
												<p>der Vorrätigkeit: {{post.availability}}</p>
												<h3>{{post.price}} Euro</h3>
												<ul class="actions">
													<li><a href="{% url 'post_detail' pk=post.pk %}"
														   class="button">sehen</a></li>
												</ul>
											</article>
										{% endfor %}
									</div>
								</section>
							{% endblock %}
						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							{% if user.is_authenticated %}
								Hallo, {{ user.username }}!
							{% else %}
								<p>Sie anmelden nicht<br> <a href="{% url 'login' %}">Anmelden</a></p>
							{% endif %}
							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menü</h2>
									</header>
									<ul>
										<li><a href="{% url 'index' %}">Hauptseite</a></li>
										<li>
											<span class="opener">Männlich</span>
											<ul>
												<li><a href="{% url 'man_boots' %}">Turnschuhe</a></li>
												<li><a href="{% url 'man_clothes' %}">Kleidung</a></li>
												<li><a href="{% url 'man_accessories' %}">Accessoires</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">Feminin</span>
											<ul>
												<li><a href="{% url 'girls_boots' %}">Turnschuhe</a></li>
												<li><a href="{% url 'girls_clothes' %}">Kleidung</a></li>
												<li><a href="{% url 'girls_accessories' %}">Accessoires</a></li>
											</ul>
										</li>
										<li><a href="{% url 'stocks' %}">Förderungen</a></li>
										<li><a href="{% url 'company' %}">Über Li-Ning</a></li>
									</ul>
								</nav>
							<!-- Section -->
							<section>
								<header class="major">
									<h2>Kontakte und Adressen</h2>
								</header>
								<p>Lieferung innerhalb der Stadt kostenlos </p>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="https://mail.google.com/">lining_kg@gmail.com</a></li>
									<li class="icon solid fa-envelope"><a href="https://mail.ru/">lining_kg@mail.ru</a></li>
									<li class="icon solid fa-phone">0(999) 999-999</li>
									<li class="icon solid fa-phone">0(558) 999-999</li>
									<li class="icon solid fa-phone">0(770) 999-999</li>
									<li class="icon solid fa-home">5 Nachbarschaft auf K.Marks<br>
									GUM, 2 Stock<br> Dordoy Plaza, 2 Stock <br> Bishkek-Park, 2 Stock </li>
								</ul>
							</section>
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Entwicklern:
										<a href="https://www.instagram.com/erl_jk/">Erbol</a>.
										<a href="https://www.instagram.com/akiev.e_/">Eldar</a>.</p>
								</footer>
						</div>
					</div>
			</div>
		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/browser.min.js'%}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'assets/js/util.js'%}"></script>
			<script src="{% static 'assets/js/main.js'%}"></script>
	</body>
</html>